$transition-default: 0.3s;
$transition-slow: 0.8s;

$container-padding: 16px;

$screen-desktop: 1536px;
$screen-laptop: 1200px;
$screen-tablet: 768px;
$screen-mobile-2x: 375px;
$screen-mobile: 320px;

$mobile-wrapper: 320px;

$white: #ffffff;
$black: #191C1F;
$dark-gray: #5E646A;
$gray: #83898F;
$mid-gray: #C2C8CD;
$light-gray: #ECEFF2;
$extralight-gray: #F6F8FA;

$dangerous: #F13636;
$green-success: #25CD82;

$primary-disabled: #ABCAE6;
$primary: #2A6CEA;
$primary-hover: #397DFF;