section.faq#faq
  .wrapper 
    .faq__wrapper 
      h2.faq__title Вопросы и ответы
      ul.faq__list
        li.faq__item 
          .faq__item__header
            h3 Подтверждено: сознание наших соотечественников не замутнено пропагандой?
            .faq__item__button
          .faq__dropdown 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum officia earum, qui ex iusto pariatur mollitia ab nostrum id excepturi
        li.faq__item 
          .faq__item__header
            h3 Прототип нового сервиса - это как трубный призыв?
            .faq__item__button
          .faq__dropdown 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum officia earum, qui ex iusto pariatur mollitia ab nostrum id excepturi 
        li.faq__item 
          .faq__item__header
            h3 Частокол на границе продолжает удивлять?
            .faq__item__button
          .faq__dropdown 
            p В частности, дальнейшее развитие различных форм деятельности позволяет выполнить важные задания по разработке дальнейших направлений развития. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня говорит о возможностях существующих финансовых и административных условий.
        li.faq__item 
          .faq__item__header
            h3 Очевидцы сообщают, что слышали грохот грома градущих изменений?
            .faq__item__button
          .faq__dropdown 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum officia earum, qui ex iusto pariatur mollitia ab nostrum id excepturi 
        li.faq__item 
          .faq__item__header
            h3 И по сей день в центральных регионах звучит перекатами печальный плач оппозиции?
            .faq__item__button
          .faq__dropdown 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum officia earum, qui ex iusto pariatur mollitia ab nostrum id excepturi 
        li.faq__item 
          .faq__item__header
            h3 Нынче никто не может себе позволить инициировать треск разлетающихся скреп?
            .faq__item__button
          .faq__dropdown 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum officia earum, qui ex iusto pariatur mollitia ab nostrum id excepturi 
        li.faq__item 
          .faq__item__header
            h3 Высококачественный прототип будущего проекта обнадёживает?
            .faq__item__button
          .faq__dropdown 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum officia earum, qui ex iusto pariatur mollitia ab nostrum id excepturi  