section.hero 
  .wrapper 
    .hero__wrapper
      h1.hero__title Говорят, никогда не поздно сменить профессию
      p.hero__descr Сделай круто тестовое задание и у тебя получится
      button.hero__button Проще простого!