section.how-it-work#how-it-work
  .wrapper 
    h2.how-it-work__title Как это работает
    ul.how-it-work__list 
      li.how-it-work__item 
        img(src="/assets/images/how-it-work1.svg", alt="time icon")
        .how-it-work__text
          h3 Прочитай задание внимательно
          p Думаю у тебя не займет это больше двух-трех минут
      li.how-it-work__item 
        img(src="/assets/images/how-it-work2.svg", alt="car icon")
        .how-it-work__text
          h3 Изучи весь макет заранее
          p Подумай как это будет работать на разных разрешениях и при скролле
      li.how-it-work__item 
        img(src="/assets/images/how-it-work3.svg", alt="schedule icon")
        .how-it-work__text
          h3 Сделай хорошо
          p Чтобы мы могли тебе доверить подобные задачи в будущем
      li.how-it-work__item 
        img(src="/assets/images/how-it-work4.svg", alt="money icon")
        .how-it-work__text
          h3 Получи предложение
          p Ну тут все просто, не я придумал правила, но думаю так и будет)))