section.third-block#third-block
  .wrapper
    .third-block__wrapper 
      .third-block__text 
        h3 Круто, ты дошел до третьего блока
        p 63% опрошенных пользовались кредитами из-за того, что не могли покрыть непредвиденные расходы свыше 15 000 ₽.
        p Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах.
      img(src="/assets/images/third-block.png", alt="driver")